@font-face {
  font-family: "Inter";
  src:
    local("Inter Medium"),
    local("Inter-Medium"),
    url("./fonts/inter/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src:
    local("JetBrains Mono Regular"),
    local("JetBrainsMono-Regular"),
    url("./fonts/jetbrains/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src:
    local("JetBrains Mono Italic"),
    local("JetBrainsMono-Italic"),
    url("./fonts/jetbrains/JetBrainsMono-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src:
    local("JetBrains Mono Medium"),
    local("JetBrainsMono-Medium"),
    url("./fonts/jetbrains/JetBrainsMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src:
    local("JetBrains Mono Medium Italic"),
    local("JetBrainsMono-MediumItalic"),
    url("./fonts/jetbrains/JetBrainsMono-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src:
    local("JetBrains Mono SemiBold"),
    local("JetBrainsMono-SemiBold"),
    url("./fonts/jetbrains/JetBrainsMono-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src:
    local("JetBrains Mono SemiBold Italic"),
    local("JetBrainsMono-SemiBoldItalic"),
    url("./fonts/jetbrains/JetBrainsMono-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src:
    local("JetBrains Mono Bold"),
    local("JetBrainsMono-Bold"),
    url("./fonts/jetbrains/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src:
    local("JetBrains Mono Bold Italic"),
    local("JetBrainsMono-BoldItalic"),
    url("./fonts/jetbrains/JetBrainsMono-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}


:root {
  /* colors === figma */
  --grey-black: #333333;
  --grey-selection: #3333331a;
  --grey-border: #33333399;
  --black: #0b0400;

  --light: #f1f1f1;
  --light-border: #f1f1f199;
  --white: white;
  --white-sub: #ffffff80;

  --blue: #566ae4;
  --dark-blue: #3845cf;
  --light-blue: #babde7;

  /* typography naming === figma */
  --font-h1-size: 1.75rem;
  --font-h2-size: 1.5rem;
  --font-h3-size: 1.25rem;
  --font-regular-text-size: 1.125rem;

  --font-descriptor-size: 1.25rem;
  --font-smaller-text-size: 1rem;
  --font-alt-smaller-text-size: 0.875rem;

  --font-pagination-size: 0.875rem;

  --font-ui-caps-size: 0.75rem;
  --font-ui-mini-size: 0.75rem;
  --font-ui-regular-size: 0.875rem;
  --font-ui-medium-size: 0.875rem;

  /* main */
  --font-h1: normal 700 var(--font-h1-size) / 1.08 "JetBrains Mono";
  --font-h2: normal 600 var(--font-h2-size) / 1.14 "JetBrains Mono";
  --font-h3: normal 600 var(--font-h3-size) / 1.4 "JetBrains Mono";

  --font-regular-text:
    normal 400 var(--font-regular-text-size) / 1.54 "JetBrains Mono";
  --font-pagination: normal 600 var(--font-h3-size) / 1.4 "JetBrains Mono";
  /* ui */
  --font-descriptor:
    normal 600 var(--font-descriptor-size) / 1.55 "JetBrains Mono";

  --font-smaller-text:
    normal 400 var(--font-smaller-text-size) / 1.55 "JetBrains Mono";
  --font-alt-smaller-text:
    normal 500 var(--font-alt-smaller-text-size) / 1 "Inter";

  --font-ui-caps: normal 400 var(--font-ui-caps-size) / 1.55 "JetBrains Mono";
  --font-ui-mini: normal 100 var(--font-ui-mini-size) / 1.55 "JetBrains Mono";
  --font-ui-regular:
    normal 400 var(--font-ui-regular-size) / 1.55 "JetBrains Mono";
  --font-ui-meduim: normal 500 var(--font-ui-medium-size) / 1 "Inter";

  /* letter-spacings */
  --font-heading-letter-spacing: -5%;
  --font-pagination-letter-spacing: -5%;

  /* ui */
  --font-smaller-text-letter-spacing: -3%;
  --font-alt-smaller-text-letter-spacing: -2.5%;

  --font-ui-caps-letter-spacing: -2.5%;
  --font-ui-meduim-letter-spacing: -2.5%;
  --font-ui-regular-letter-spacing: -3%;
  --font-ui-mini-letter-spacing: -3.5%;
}


@media (prefers-color-scheme: dark) {
  :root {
    --color: var(--white);
    --background: var(--grey-black);

    /* borders */
    --border-color: var(--grey-border);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color: var(--grey-black);
    --background: var(--light);

    --border-color: var(--light-border);
  }
}


/* reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
hr,
b,
strong,
em,
small,
big,
mark,
dfn,
abbr,
time,
address,
bdi,
bdo,
cite,
del,
ins,
q,
s,
samp,
sub,
sup,
var,
i,
code,
video,
audio,
ul,
ol,
a,
img,
form,
article,
main,
button,
input,
label,
select,
textarea,
svg,
path,
g,
defs,
use,
clipPath,
mask,
circle,
rect,
ellipse,
line,
polyline,
polygon,
text,
table,
tbody,
tr,
td,
th,
li,
blockquote,
iframe {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: var(--font-regular-text);
  color: var(--color);
}
